
<app-alert *ngIf="showAlert" [color]="alertColor">
  {{alertMsg}}
</app-alert>
<!-- Login Form -->
<form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="submit()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input [autocompleteName]="'email'" [control]="email" placeholder="Email"/>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
   <app-input [autocompleteName]="'current-password'" [type]="'password'" [control]="password" placeholder="Password"/>
  </div>
  <button [disabled]="loginForm.invalid || !isActive" type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500">
    Submit
  </button>
</form>
